@import "nullstyle.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,regular,500,700,900,100italic,300italic,500italic,700italic,900italic&display=swap);
/* =================================================================================================================== */
/* Если подключаем шрифты вручную */

/* @font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	}
	
	*/
	/* ================================================================================================================ */

	/* /* &display=swap - дописываем если нету (когда используем подгрузку шрифтов через @import/link */

	/* ================================================================================================================ */
	body{
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
	}


	.wrapper {
		min-height: 100%;
		overflow: hidden;
	}

	.content{
		max-width: 1100px;
		margin: 0 auto;
	}


	.image{
		width: 512px;
		margin: 0 auto;
	}

	h1{
		text-align: center;
		font-size: 30px;
		color: red;
		font-weight: 700;
		line-height: 1.4;
		margin-bottom: 15px;
	}

	.years{
		text-align: center;
		margin-bottom: 50px;

	}

	.thin{
		font-weight: 100;
		font-style: italic;
		line-height: 1.5;
	}

	h3{
		font-weight: 700;
		font-size: 22px;
		margin-bottom: 20px;
		line-height: 1.3;
	}

li{
	padding-bottom: 10px;
}

.list{
	margin: 0 0 80px 0;
}

.tolstoy{
	overflow: auto;
	height: 100px;
	margin-bottom: 100px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.6;
}

.sec-1{
	margin-bottom: 80px;
}

h2{
	font-size: 25px;
	font-weight: 700;
	line-height: 1.4;
	text-decoration: overline;
	text-align: center;
	margin-bottom: 30px;
	text-shadow: 5px 5px 8px rgb(224, 72, 72);
}

.image-1{
	width: 360px;
	height: 360px;
}
.image-2{
	width: 360px;
	height: 360px;
}
.image-3{
	width: 360px;
	height: 360px;
	margin-bottom: 30px;
}

p{
	margin-bottom: 40px;
	line-height: 1.4;
	font-weight: 500;
}

span.red{
	color: red;
}


.display{
	display: none;
}

.p-last-child{
	margin: 0 0 100px;
}

p.thigh{
 overflow: scroll;
}

.sec-3{
	margin: 0 auto;
	width: 800px;
}

span.block{
	display: block;
	margin-bottom: 20px;
	font-weight: 500;
	line-height: 1.4;
	font-style: italic;
}

.footer{
	background-color: rgb(243, 243, 243);
	min-height: 70px;
	overflow: hidden;
}

.content-footer{
	max-width: 1100px;
	margin: 0 auto;
	padding: 10px 0;
}

.logo{
	display: inline-block;
}

.logo img{
	width: 70px;
	height: 70px;
	vertical-align: middle;
}

.menu{
	display: inline-block;
	margin: 0 0 0 0px;
	font-size: 40px;
	font-weight: 300;
	font-style: italic;
	vertical-align: middle;
}

.logo-kyivstar{
	display: inline-block;
	margin: 0 0 0 260px;
}

.logo-kyivstar img{
	width: 70px;
	height: 70px;
	vertical-align: middle;
	margin-left: 20px;
}

.arrow{
	display: inline-block;
}

.arrow img{
	max-width: 70px;
	max-height: 70px ;
	vertical-align: middle;
	margin: 0 0 0 335px;
}